#root {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 75%;
  justify-content: left;
  text-align: left;
  flex-direction: column;
  display: flex;
}
.app h1 {
  text-align: left;
  border-bottom: 3px solid #000;
  font-family: 'Homemade Apple', cursive;
  line-height: 2em;
  margin-bottom: 0;
}
.separator {
  border-top: 3px solid #999;
  margin-left: 20px;
}
.mainbox {
  display: flex;
  flex-direction: row;
}
.menu {
  width: 33.3%;
  margin-right: 20px;
}

.menu ul {
  list-style-type: none;
  font-family: 'Playfair Display', serif;
  font-variant: small-caps;
  font-size: 1.5rem;
  padding-left: 0;
  margin-top: 0;
  letter-spacing: 0.197em;
  min-height: 50vh;
  border-right: 2px solid #000;
}
.menu ul li {
  margin-bottom: 1.2rem;
  display: contents;
}
.menu ul li div.underline {
  color: rgba(0, 0, 0, 0);
  text-decoration: 2px underline #000;
  position: relative;
  top: -1.3em;
  opacity: 0.0;
}
.menu ul li div.underline:hover {
  opacity: 1;
  transition: opacity 300ms ease-out;
}
.homepage p {
  margin-top: 0;
}
