#root {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 75%;
  justify-content: left;
  text-align: left;
}
.app h1 {
  text-align: left;
  border-bottom: 1px solid #000;
  font-family: 'Homemade Apple', cursive;
  line-height: 2em;
}
.menu {
  width: 33.3%;
}

.menu ul {
  list-style-type: none;
  font-family: 'Playfair Display', serif;
  font-variant: small-caps;
  font-size: 1.5rem;
  padding-left: 0;
  margin-top: 2rem;
  letter-spacing: 0.197em;
  min-height: 50vh;
  border-right: 1px solid #000;
}
.menu ul li {
  margin-bottom: 1.2rem;
  display: contents;
}
.menu ul li div.underline {
  color: rgba(0, 0, 0, 0);
  text-decoration: underline #000;
  position: relative;
  top: -1.3em;
  opacity: 0.0;
}
.menu ul li div.underline:hover {
  opacity: 1;
  transition: opacity 300ms ease-out;
}
